@model Balance.ViewModels.CountViewModel
@{
    ViewBag.Title = "Count";
}
<p>
    <h3><label class="label label-default">@Model.Type</label></h3>
</p>

<table class="table table-bordered">
    <tr><th>Name</th><th>Credit</th></tr>
    @foreach (var credit in Model.Credits)
    {
        <tr><td>@credit.Name</td><td>@credit.Credit</td></tr>

    }
</table>
<p>
    <h4><label class="label label-success">@Html.ActionLink("OK", "Group", new { Id = @Model.Id })</label></h4>
</p>