@model Balance.ViewModels.CountViewModel
@{
    ViewBag.Title = "Count";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p>
    <h3><label class="label label-default">@Model.Type</label></h3>
</p>
<p>
    <label>Type</label>
</p>
<form action="" method="post">
    <select name="type">
        @foreach (var type in Model.Types)
        {
            <option value=@type>@type</option>
        }
    </select>
    <p>
        <input type="submit" class="btn btn-success" value="OK" />
    </p>
</form>

<table class="table table-bordered">
    <tr><th>Name</th><th>Credit</th></tr>
    @foreach (var credit in Model.Credits)
    {
        <tr><td>@credit.Name</td><td>@credit.Credit</td></tr>
    }
</table>
<p>
    <h4><label class="label label-success">@Html.ActionLink("OK", "Group", new { Id = @Model.Id })</label></h4>
</p>