

@model Balance.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Group";
}

<p>
    <h3><label class="label label-default">Name:</label> &nbsp<label class="label label-info">@Model.Name</label></h3>
</p>
<p>
    <h3><label class="label label-default">Description:</label> &nbsp<label class="label label-info">@Model.Description</label>
    </h3>
</p>
<br/>
    <br />
    <p>
        <h4><label class="label label-warning">@Html.ActionLink("Add Payment", "Payment", new { Id = @Model.Id.ToString() })</label></h4>
    </p>

    <p>
        <h4><label class="label label-warning">@Html.ActionLink("Add User To Group", "AddUserToGroup", new { Id = Model.Id.ToString() })</label></h4>
    </p>

    <p>
        <h4><label class="label label-warning">@Html.ActionLink("Count", "Count", new { Id = Model.Id.ToString() })</label></h4>
    </p>

    <br />
    <p>
        <h3><label class="label label-primary">Payments</label></h3>
    </p>
    <table class="table table-bordered">
        <tr><th>User name</th><th>Payment value</th><th>Type</th></tr>
        @foreach (var payment in Model.Payments)
        {
            if (payment.Value != 0)
            {
                <tr><td>@payment.UserName</td><td>@payment.Value</td><td>@payment.Type</td></tr>
            }
        }
    </table>
    <p>
        <h3><label class="label label-primary">Users</label></h3>
    </p>
    <table class="table table-bordered">
        <tr><th>User name</th></tr>
        @foreach (var user in Model.Users)
        {
            <tr><td>@user.Name</td></tr>
        }
    </table>
