@model Balance.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Group";
}
<p><label>@Model.Name</label>
</p>
<p><label>@Model.Description</label>
</p>
<p>
    @Html.ActionLink("Add Payment", "Payment", new {Id = @Model.Id.ToString()})
</p>
<p>
    <label>@Model.Sum</label>
</p>

@foreach (var payment in Model.Payments)
{
    <p><label>@payment.Value</label></p>
}


